In [1]:
import pandas as pd
import numpy as np
from bitarray import bitarray

# Limpieza y preparación de los datos

## Lectura de datos

In [2]:
d16 = pd.read_csv('./datos/datos_2016.csv')
d17 = pd.read_csv('./datos/datos_2017.csv')
d18 = pd.read_csv('./datos/datos_2018.csv')
d19 = pd.read_csv('./datos/datos_2019.csv')
d2021 = pd.read_csv('./datos/2020_2021.csv')

In [3]:
asignaturas = pd.read_csv('asignaturas2.csv',encoding = 'ISO-8859-1')

In [4]:
plan_2016 = asignaturas.query('plan == "IDP2016"')

In [5]:
oferta = pd.read_csv('oferta_ideio.csv',encoding = 'ISO-8859-1')

In [6]:
seriaciones = pd.read_csv('seriacion.csv')

## Visualización de datos

In [7]:
d16.head()

,Unnamed: 0,carrera,periodo,clave,asignatura,promediofinal,docente,ceveval_global,ceneval_analitico,ceneval_matematico,...,r_modulo8,modulo9,r_modulo9,modulo10,r_modulo10,modulo11,r_modulo11,modulo12,r_modulo12,n_matricula
0,0,Negocios Internacionales,201601,DP0295,Taller de formación en responsabilidad social ...,10.0,Maldonado Saldaña / Gisela,1150.0,1108.0,1228.0,...,-,Cálculo,-,Inglés,-,Administración,-,Informática y Computación,-,140311285
1,1,Negocios Internacionales,201601,NI0215,Taller de software para negocios internacionales,9.0,Villeda Cuellar / Víctor Hugo,1150.0,1108.0,1228.0,...,-,Cálculo,-,Inglés,-,Administración,-,Informática y Computación,-,140311285
2,2,Negocios Internacionales,201601,LI1104,Nivel 4 Inglés,10.0,Ross / Andrew Patrick Simon,1150.0,1108.0,1228.0,...,-,Cálculo,-,Inglés,-,Administración,-,Informática y Computación,-,140311285
3,3,Negocios Internacionales,201601,NI0209,Administración financiera,6.0,Vallejo Filoteo / Jorge,1150.0,1108.0,1228.0,...,-,Cálculo,-,Inglés,-,Administración,-,Informática y Computación,-,140311285
4,4,Negocios Internacionales,201601,NI0213,Transporte y logística en comercio exterior,9.0,Cañedo Magaña / Magdalena del Carmen,1150.0,1108.0,1228.0,...,-,Cálculo,-,Inglés,-,Administración,-,Informática y Computación,-,140311285

In [8]:
d2021.head()

,Unnamed: 0,Column1,programa,periodo,clave,asignatura,docente,promediofinal,ceveval_global,hrs_trabaja,n_matricula
0,0,1,Ingeniería en Datos e Inteligencia Organizacional,202001,IL0414,Taller de argumentación y técnicas de negociación,Torres Pérez / Rubén Juan,7.0,952.0,De 5 a 10 horas,170311163
1,1,2,Ingeniería en Datos e Inteligencia Organizacional,202001,II0422,Taller de emprendedores,Zapata Solís / Zuemy De Lourdes,8.0,1048.0,No trabajaba,180311454
2,2,3,Ingeniería en Datos e Inteligencia Organizacional,202001,DP0498,Problemas de México,Díaz Molina / Libertad Fidelina,9.0,1144.0,De 5 a 10 horas,170311232
3,3,4,Ingeniería en Datos e Inteligencia Organizacional,202001,IT0264,Introducción a los sistemas de información,Olivares González / Oscar,10.0,1072.0,De 11 a 15 horas,190311813
4,4,5,Ingeniería en Datos e Inteligencia Organizacional,202001,II0215,Electricidad y magnetismo,Ramírez Carmona / Leslye Johanna,7.0,1018.0,Más de 20 horas,180311416

In [9]:
asignaturas.head()

,ciclos,clave,nombre,creditos,tipo,plan,preespecialidad
0,1,II0106,Cálculo diferencial,8,Basica,IAP2019,NaN
1,1,II0209,Cálculo integral,6,Basica,IAP2019,NaN
2,1,DP0194,Desarrollo de habilidades del pensamiento,6,Basica,IAP2019,NaN
3,1,IA0106,Ecología,6,Basica,IAP2019,NaN
4,1,II0102,Física experimental,8,Basica,IAP2019,NaN

In [10]:
plan_2016.head()

,ciclos,clave,nombre,creditos,tipo,plan,preespecialidad
603,1,IT0101,Algoritmos y estructura de datos,6,Basica,IDP2016,NaN
604,1,II0106,Cálculo diferencial,8,Basica,IDP2016,NaN
605,1,II0209,Cálculo integral,6,Basica,IDP2016,NaN
606,1,DP0194,Desarrollo de habilidades del pensamiento,6,Basica,IDP2016,NaN
607,1,ID0101,Diseño de patrones para datos estructurados,6,Basica,IDP2016,NaN

In [11]:
oferta.head()

,Ciclo,Trayectoria,Tipo,Clave,Nombre,Maestro,Lunes,Martes,Miercoles,Jueves,Viernes,Sabado
0,1,0,BAS,DP0193,Taller de redacción profesional,Alvarado Martínez / María Del Carmen,-,-,17:00-18:00,-,16:00-18:00,-
1,1,0,BAS,DP0191,Taller de interacción grupal y competencias co...,Diaz Barriga Cuevas / Claudia,-,-,-,15:00-17:00,17:00-18:00,-
2,1,0,BAS,DP0191,Taller de interacción grupal y competencias co...,Diaz Barriga Cuevas / Claudia,18:00-20:00,-,-,17:00-18:00,-,-
3,1,0,BAS,DP0193,Taller de redacción profesional,Parra Dorantes / Roberto,-,-,18:00-20:00,-,17:00-18:00,-
4,1,0,BAS,DP0194,Desarrollo de habilidades del pensamiento,Mendoza Luna / José Arturo,-,-,19:00-20:00,-,20:00-22:00,-

In [12]:
seriaciones.head()

      plan    ser1    ser2
0  IDP2016  II0106  II0209
1  IDP2016  ID0102  II0215
2  IDP2016  II0209  II0320
3  IDP2016  ID0103  IT0263
4  IDP2016  IT0264  ID0204

## Limpieza de datos

In [13]:
cargas16_19 = pd.concat([d16,d17,d18,d19])
cargas20_21 = d2021

In [14]:
cargas16_19 = cargas16_19.query('carrera == "Ingeniería en Datos e Inteligencia Organizacional"')

In [15]:
cargas16_19 = cargas16_19[['Unnamed: 0', 'carrera', 'periodo', 'clave', 'asignatura',
       'promediofinal', 'docente', 'ceveval_global', 'ceneval_analitico',
       'ceneval_matematico', 'ceneval_lengua', 'ceneval_esp',
       'n_matricula']]

In [16]:
matriculas16 = cargas16_19.query('n_matricula > 160000000 and n_matricula < 170000000')['n_matricula'].unique()
matriculas17 = cargas16_19.query('n_matricula > 170000000 and n_matricula < 180000000')['n_matricula'].unique()
matriculas18 = cargas16_19.query('n_matricula > 180000000 and n_matricula < 190000000')['n_matricula'].unique()
matriculas19 = cargas16_19.query('n_matricula > 190000000 and n_matricula < 200000000')['n_matricula'].unique()
matriculas20 = cargas20_21.query('n_matricula > 200000000 and n_matricula < 210000000')['n_matricula'].unique()
matriculas21 = cargas20_21.query('n_matricula > 210000000 and n_matricula < 220000000')['n_matricula'].unique()

In [17]:
matriculas = np.concatenate((matriculas16, matriculas17,matriculas18,matriculas19,matriculas20,matriculas21))

In [18]:
cargas20_21 = cargas20_21.rename(columns={'programa': 'carrera'})

In [19]:
formato_cargas20_21 = cargas20_21[['carrera', 'periodo', 'clave', 'asignatura','docente','n_matricula','promediofinal']]
formato_cargas16_19 = cargas16_19[['carrera', 'periodo', 'clave', 'asignatura','docente','n_matricula','promediofinal']]

formato_cargas = pd.concat([formato_cargas16_19,formato_cargas20_21])

In [20]:
oferta = oferta[['Clave','Nombre', 'Maestro', 'Lunes','Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado']]

In [21]:
oferta['Lunes'].unique()

array(['-', '18:00-20:00', '17:00-19:00', '20:00-22:00', '15:00-17:00',
       '9:00-11:00', '19:00-21:00', '19:00-20:00', '7:00-9:00',
       '11:00-13:00', '13:00-14:00', '16:00-18:00', '14:00-16:00',
       '7:00-10:00', '7:00-8:00', '16:00-19:00', '21:00-22:00',
       '16:00-17:00'], dtype=object)

In [22]:
oferta['Martes'].unique()

array(['-', '15:00-17:00', '20:00-21:00', '20:00-22:00', '19:00-20:00',
       '16:00-18:00', '18:00-19:00', '7:00-9:00', '9:00-11:00',
       '18:00-20:00', '14:00-16:00', '13:00-15:00', '8:00-9:00'],
      dtype=object)

In [23]:
oferta['Miercoles'].unique()

array(['17:00-18:00', '-', '18:00-20:00', '19:00-20:00', '16:00-17:00',
       '15:00-17:00', '20:00-21:00', '20:00-22:00', '18:00-19:00',
       '12:00-14:00', '7:00-9:00', '9:00-11:00', '11:00-12:00',
       '11:00-13:00', '\n13:00-15:00', '13:00-15:00', '17:00-19:00',
       '19:00-21:00', '15:00-16:00', '12:00-13:00', '8:00-10:00',
       '7:00-8:00', '10:00-12:00', '16:00-18:00', '14:00-15:00'],
      dtype=object)

In [24]:
oferta['Jueves'].unique()

array(['-', '15:00-17:00', '17:00-18:00', '20:00-21:00', '16:00-17:00',
       '9:00-10:00', '20:00-22:00', '18:00-20:00', '19:00-21:00',
       '7:00-8:00', '13:00-14:00', '8:00-9:00', '9:00-11:00',
       '16:00-18:00', '14:00-15:00', '13:00-15:00', '7:00-9:00',
       '15:00-16:00', '18:00-19:00', '19:00-20:00', '21:00-22:00'],
      dtype=object)

In [25]:
oferta['Viernes'].unique()

array(['16:00-18:00', '17:00-18:00', '-', '20:00-22:00', '15:00-17:00',
       '14:00-15:00', '18:00-20:00', '20:00-21:00', '13:00-14:00',
       '9:00-10:00', '7:00-9:00', '10:00-11:00', '16:00-17:00',
       '14:00-16:00', '18:00-19:00', '8:00-10:00', '19:00-20:00',
       '19:00-21:00'], dtype=object)

In [26]:
oferta.loc[36,'Miercoles'] = '13:00-15:00'

In [27]:
oferta['Miercoles'].unique()

array(['17:00-18:00', '-', '18:00-20:00', '19:00-20:00', '16:00-17:00',
       '15:00-17:00', '20:00-21:00', '20:00-22:00', '18:00-19:00',
       '12:00-14:00', '7:00-9:00', '9:00-11:00', '11:00-12:00',
       '11:00-13:00', '13:00-15:00', '17:00-19:00', '19:00-21:00',
       '15:00-16:00', '12:00-13:00', '8:00-10:00', '7:00-8:00',
       '10:00-12:00', '16:00-18:00', '14:00-15:00'], dtype=object)

In [28]:
def formatoHora(hora):
    if len(hora) == 11:
        return hora
    elif len(hora) == 10:
        return '0' + hora
    elif len(hora) == 9:
        return '0' + hora[0:5] + '0' + hora[5:]
    elif len(hora) == 1:
        return '-'

In [29]:
oferta['Lunes'] = oferta['Lunes'].apply(lambda horas: formatoHora(horas))
oferta['Martes'] = oferta['Martes'].apply(lambda horas: formatoHora(horas))
oferta['Miercoles'] = oferta['Miercoles'].apply(lambda horas: formatoHora(horas))
oferta['Jueves'] = oferta['Jueves'].apply(lambda horas: formatoHora(horas))
oferta['Viernes'] = oferta['Viernes'].apply(lambda horas: formatoHora(horas))

# Definición de funciones útiles

## Función para obtener un Kardex aleatorio

In [30]:
def obtenerKardex(mat = -1):
    if(mat == -1):
        mat = np.random.choice(matriculas)
    return formato_cargas.query('n_matricula == ' + str(mat)).sort_values('periodo')

In [31]:
kardex = obtenerKardex()

## Obtención de oferta útil

En este sección se crea la función "obtenerOfertaUtil" la cual filtra la oferta académica para eliminar las materias que no cumplen con la restricción de llevar materias aprobadas y la restricción de llevar materias que no respeten la seriación.

In [32]:
def materiaHaSidoAprobada(kardex,clave):
    if len(kardex.query('clave == "' + clave + '" and promediofinal >= 7')) == 0:
        return False
    else:
        return True

In [33]:
def respetaSeriacion(clave,kardex):
    if len(seriaciones.query('ser2 == "' + clave + '"')) == 0:
        return True
    else:
        #Se guarda en necesarias la lista de asignaturas necesarias para llevar la asignura "clave"
        necesarias = seriaciones.query('ser2 == "' + clave + '"')['ser1'].unique()
        
        #Se recorre la lista para comprobar si el estudiante ya pasó las asignaturas necesarias, en caso de que le falte 
        #al menos una, entonces no se respeta la seriación.
        for necesaria in necesarias:
            if materiaHaSidoAprobada(kardex,necesaria):
                return False
        return True

In [34]:
#Filtra las materias que no cumplen las restricciones 1 y 2

def obtenerOfertaUtil(kardex,oferta):
    #Se eliminan las materias en la oferta que ya han sido aprobadas
    aprobadas = kardex.query('promediofinal > 7')['clave'].unique()
    for clave in aprobadas:
        oferta = oferta.query('Clave != "' + clave + '"')
        
    #Se eliminan las materias que el alumno no puede llevar por la seriación
    ofertaUtilIndex = []
    for i in range(len(oferta)):
        if respetaSeriacion(oferta.iloc[i]['Clave'],kardex):
            ofertaUtilIndex.append(i)
    ofertaUtil = oferta.iloc[ofertaUtilIndex]
    return ofertaUtil

In [35]:
ofertaUtil = obtenerOfertaUtil(kardex,oferta)

## Generación de carga aleatoria válida

#### NOTA: Tomar en cuenta materias repetidas y por ahora descartar talleres deportivos, artísticos, lengua inglesa y prácticas profesionales

En esta sección creamos las funciones "generarCargaValida" la cual retorna una string de bits representando una carga académica con base a la oferta útil. También se crea la función "obtenerDatosCarga" que nos ayuda a obtener los datos de una carga académica con base a la oferta útil y a una string de bits que denominamos "bits de carga"

In [36]:
def obtenerBitsDeCarga(ofertaUtil):
    bitsDeCarga = bitarray(len(ofertaUtil))
    bitsDeCarga[:] = 0
    return bitsDeCarga

In [37]:
def obtenerDatosCarga(bitsDeCarga,ofertaUtil):
    cargaIndex = []
    for i in range(len(bitsDeCarga)):
        if bitsDeCarga[i] == 1:
            cargaIndex.append(i)

    datosCarga = ofertaUtil.iloc[cargaIndex]
    return datosCarga

In [38]:
def generarCargaAleatoria(ofertaUtil):
    bitsDeCarga = obtenerBitsDeCarga(ofertaUtil)
    tamanoCarga = np.random.randint(3,10)
    
    materiasCargadas = set()
    
    for i in range(tamanoCarga):
        posicion = np.random.randint(0,len(bitsDeCarga))
        clave = ofertaUtil.iloc[posicion]['Clave']
        while bitsDeCarga[posicion] == 1 or clave in materiasCargadas:
            clave = ofertaUtil.iloc[posicion]['Clave']
            posicion = np.random.randint(0,len(bitsDeCarga))
        materiasCargadas.add(ofertaUtil.iloc[posicion]['Clave'])
        bitsDeCarga[posicion] = 1
    return bitsDeCarga

In [39]:
def comprobarTraslapacion(bitsDeCarga,ofertaUtil):
    datosCarga = obtenerDatosCarga(bitsDeCarga,ofertaUtil)
    dias = ['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado']
    
    for dia in dias:
        horarioDia = datosCarga.sort_values(dia)[dia].values
        for i in range(len(horarioDia)):
            if horarioDia[i] == '-':
                continue
            horaInicioI = int(horarioDia[i][0:2])
            horaFinI = int(horarioDia[i][6:8])
            
            for j in range(i+1,len(horarioDia)):
                horaInicioJ = int(horarioDia[j][0:2])
                horaFinJ = int(horarioDia[j][6:8])
                
                if not(horaFinJ  <= horaInicioI or horaInicioJ >= horaFinI):
                    return True
    return False

In [40]:
def generarCargaValida(ofertaUtil):
    bitsDeCarga = generarCargaAleatoria(ofertaUtil)
    
    while comprobarTraslapacion(bitsDeCarga,ofertaUtil):
        bitsDeCarga = generarCargaAleatoria(ofertaUtil)
    
    return bitsDeCarga

In [41]:
bitsDeCarga = generarCargaValida(ofertaUtil)

# Definición de funciones de utilidad y de costo

## Utilidad de carga académica con base en las materias reprobadas

In [42]:
def obtenerMateriasReprobadas(kardex):
    materiasReprobadas = kardex.query('promediofinal < 7')['clave'].unique()
    materiasReprobadasFinal = []
    for clave in materiasReprobadas:
        aprobado = len(kardex.query('clave == "' + clave + '" and promediofinal >= 7'))
        if aprobado == 0:
            materiasReprobadasFinal.append(clave)
    return materiasReprobadasFinal

In [43]:
def obtenerUtilidadMateriasReprobadas(kardex,bitsDeCarga,ofertaUtil):
    materiasReprobadas = obtenerMateriasReprobadas(kardex)
    if len(materiasReprobadas) == 0:
        return 0
    datosCarga = obtenerDatosCarga(bitsDeCarga,ofertaUtil)
    utilidadTotal = 0
    
    for clave in materiasReprobadas:
        cargado = len(datosCarga.query('Clave == "' + clave + '"'))
        if cargado == 1:
            utilidadTotal += 1
            
    
    #Normalización
    utilidad = (utilidadTotal)/(len(materiasReprobadas))
    return utilidad

In [44]:
obtenerUtilidadMateriasReprobadas(kardex,bitsDeCarga,ofertaUtil)

0

## Utilidad de carga académica con base en el cierre de ciclos

In [45]:
def utilidadCerrarCiclos(bitsDeCarga,ofertaUtil):
    utilidad = [27,9,3,1]
    utilidadTotal = 0
    
    datosCarga = obtenerDatosCarga(bitsDeCarga,ofertaUtil)
    
    claves = datosCarga['Clave'].unique()
    for i in range(len(claves)):
        if claves[i][0:2] == 'AD'or claves[i][0:2] == 'TA' or claves[i][0:2] == 'LI' or claves[i][0:2] == 'PI':
            continue
            
        ciclo = int(plan_2016.query('clave == "' + claves[1] + '"')['ciclos'])
        utilidadTotal += utilidad[ciclo-1]
    
    #Normalización
    utilidadNorm = (utilidadTotal)/(utilidad[0]*9)
    return utilidadNorm

In [46]:
utilidadCerrarCiclos(bitsDeCarga,ofertaUtil)

0.07407407407407407

## Costo de carga académica con base en las horas libres

#### NOTA: Tomar en cuenta las horas libres por día

In [47]:
def costoHorasLibres(bitsDeCarga,ofertaUtil):
    dias = ['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado']
    costoTotal = 0
    
    datosCarga = obtenerDatosCarga(bitsDeCarga,ofertaUtil)
    
    for dia in dias:
        datosCarga = datosCarga.sort_values(dia)
        ultimaHoraFin = 0
        for i in range(len(datosCarga)):
            if datosCarga.iloc[i][dia] == '-':
                continue
            if ultimaHoraFin == 0:
                ultimaHoraFin = int(datosCarga.iloc[i][dia][6:8])
                continue
            horaInicio = int(datosCarga.iloc[i][dia][0:2])
            costoTotal += (horaInicio - ultimaHoraFin)
            ultimaHoraFin = int(datosCarga.iloc[i][dia][6:8])
          
    #Normalización
    costo = (costoTotal)/(78)
    return costo

In [48]:
costoHorasLibres(bitsDeCarga,ofertaUtil)

0.34615384615384615

## Costo de carga académica con base en la disponibilidad de horario del estudiante

Creamos 4 casos diferentes donde los estudiantes trabajan. Guardamos el horario de ocupación de los estudiantes en un dataframe por cada estudiante.

In [49]:
# El estudiante trabaja por las mañanas tiempo completo
disp_est_1 = pd.DataFrame({
    "hora": [7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],
    "Lunes": [False,False,False,False,False,False,False,False,False,True,True,True,True,True,True],
    "Martes": [False,False,False,False,False,False,False,False,False,True,True,True,True,True,True],
    "Miercoles": [False,False,False,False,False,False,False,False,False,True,True,True,True,True,True],
    "Jueves": [False,False,False,False,False,False,False,False,False,True,True,True,True,True,True],
    "Viernes": [False,False,False,False,False,False,False,False,False,True,True,True,True,True,True],
    "Sabado": [False,False,False,False,False,False,False,False,False,True,True,True,True,True,True]
})


# El estudiante trabaja por las tardes tiempo completo
disp_est_2 = pd.DataFrame({
    "hora": [7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],
    "Lunes": [True,True,True,True,True,True,False,False,False,False,False,False,False,False,False],
    "Martes": [True,True,True,True,True,True,False,False,False,False,False,False,False,False,False],
    "Miercoles": [True,True,True,True,True,True,False,False,False,False,False,False,False,False,False],
    "Jueves": [True,True,True,True,True,True,False,False,False,False,False,False,False,False,False],
    "Viernes": [True,True,True,True,True,True,False,False,False,False,False,False,False,False,False],
    "Sabado": [True,True,True,True,True,True,False,False,False,False,False,False,False,False,False]
})

# El estudiante trabaja por las mañanas medio tiempo
disp_est_3 = pd.DataFrame({
    "hora": [7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],
    "Lunes": [True,False,False,False,False,False,True,True,True,True,True,True,True,False,False],
    "Martes": [True,False,False,False,False,False,True,True,True,True,True,True,True,False,False],
    "Miercoles": [True,False,False,False,False,False,True,True,True,True,True,True,True,False,False],
    "Jueves": [True,False,False,False,False,False,True,True,True,True,True,True,True,False,False],
    "Viernes": [True,False,False,False,False,False,True,True,True,True,True,True,True,False,False],
    "Sabado": [True,False,False,False,False,False,True,True,True,True,True,True,True,False,False]
})
# El estudiante trabaja por las tardes medio tiempo
disp_est_4 = pd.DataFrame({
    "hora": [7,8,9,10,11,12,13,14,15,16,17,18,19,20,21],
    "Lunes": [True,True,True,True,True,False,False,False,False,False,True,True,True,True,True],
    "Martes": [True,True,True,True,True,False,False,False,False,False,True,True,True,True,True],
    "Miercoles": [True,True,True,True,True,False,False,False,False,False,True,True,True,True,True],
    "Jueves": [True,True,True,True,True,False,False,False,False,False,True,True,True,True,True],
    "Viernes": [True,True,True,True,True,False,False,False,False,False,True,True,True,True,True],
    "Sabado": [True,True,True,True,True,False,False,False,False,False,True,True,True,True,True]
})

In [50]:
disponibilidad = [disp_est_1,disp_est_2,disp_est_3,disp_est_4]

In [51]:
def obtenerCostoDisponibilidad(bitsDeCarga,ofertaUtil,disponibilidad):
    dias = ['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado']
    datosCarga = obtenerDatosCarga(bitsDeCarga,ofertaUtil)
    costoTotal = 0

    for dia in dias:
        for i in range(len(datosCarga)):
            if datosCarga[dia].iloc[i] == '-':
                continue

            horaInicio = int(datosCarga.iloc[i][dia][0:2])
            horaFin = int(datosCarga.iloc[i][dia][6:8])

            for hora in range(horaInicio,horaFin):
                if not(disponibilidad.query('hora == ' + str(hora))[dia].values[0]):
                    costoTotal += 1
                    
    #Normalización
    disponibilidadTotal = sum(disponibilidad['Lunes']) + sum(disponibilidad['Martes']) + sum(disponibilidad['Miercoles']) + sum(disponibilidad['Jueves']) + sum(disponibilidad['Viernes']) + sum(disponibilidad['Sabado'])
    costo = (costoTotal)/(90 - disponibilidadTotal)
    return costo

In [52]:
obtenerCostoDisponibilidad(bitsDeCarga,ofertaUtil,disponibilidad[0])

0.1111111111111111

# Prueba de funciones

## Datos conocidos

#### Kardex

In [53]:
kardex = obtenerKardex(180311432)
kardex

,carrera,periodo,clave,asignatura,docente,n_matricula,promediofinal
16839,Ingeniería en Datos e Inteligencia Organizacional,201803,IT0101,Algoritmos y estructura de datos,Báez López / Yarely,180311432,8.0
16840,Ingeniería en Datos e Inteligencia Organizacional,201803,DP0191,Taller de interacción grupal y competencias co...,Maldonado Santiago / David,180311432,7.0
16841,Ingeniería en Datos e Inteligencia Organizacional,201803,LI1103,Nivel 3 Inglés,Canto Borges / Thelma Evelyn,180311432,10.0
16842,Ingeniería en Datos e Inteligencia Organizacional,201803,ID0102,Física clásica,René / Mónica Patricia,180311432,4.0
16843,Ingeniería en Datos e Inteligencia Organizacional,201803,IT0161,Sistemas operativos POSIX,Álvarez Estrada / José Enrique,180311432,5.0
16844,Ingeniería en Datos e Inteligencia Organizacional,201803,IL0102,Teoría general de sistemas,Sánchez Pérez / Víctor Leonel,180311432,9.0
16845,Ingeniería en Datos e Inteligencia Organizacional,201803,DP0194,Desarrollo de habilidades del pensamiento,Olivares González / Oscar,180311432,9.0
16274,Ingeniería en Datos e Inteligencia Organizacional,201901,AD0003,Basquetbol,Campos Coral / Wilder Edmundo,180311432,10.0
16273,Ingeniería en Datos e Inteligencia Organizacional,201901,IT0264,Introducción a los sistemas de información,Ortega Espinosa / Viridiana Alhelí,180311432,9.0
16275,Ingeniería en Datos e Inteligencia Organizacional,201901,IT0103,Introducción a las redes,Jiménez Sánchez / Ismael,180311432,8.0
16271,Ingeniería en Datos e Inteligencia Organizacional,201901,DP0193,Taller de redacción profesional,Cruz Camacho / Gabriela,180311432,8.0
16270,Ingeniería en Datos e Inteligencia Organizacional,201901,LI1104,Nivel 4 Inglés,Morales Ascencio / Luz del Carmen,180311432,10.0
16272,Ingeniería en Datos e Inteligencia Organizacional,201901,ID0101,Diseño de patrones para datos estructurados,Flores Granados / David Israel,180311432,0.0
16276,Ingeniería en Datos e Inteligencia Organizacional,201902,IT0161,Sistemas operativos POSIX,Paz Cuevas / Carlos Francisco,180311432,7.0
16277,Ingeniería en Datos e Inteligencia Organizacional,201903,II0106,Cálculo diferencial,Canul Chalé / Juan Diego,180311432,6.0
16278,Ingeniería en Datos e Inteligencia Organizacional,201903,DP0295,Taller de formación en responsabilidad social ...,Blanco Valdés / Santiago,180311432,8.0
16279,Ingeniería en Datos e Inteligencia Organizacional,201903,LI0109,Tópicos selectos de inglés,Gamborino Ubilla / Pablo,180311432,10.0
16280,Ingeniería en Datos e Inteligencia Organizacional,201903,ID0102,Física clásica,Gamborino Ubilla / Pablo,180311432,8.0
430,Ingeniería en Datos e Inteligencia Organizacional,202001,II0106,Cálculo diferencial,Fernández Reina / Yunior,180311432,8.0
505,Ingeniería en Datos e Inteligencia Organizacional,202001,ID0101,Diseño de patrones para datos estructurados,Manzano Pinzón / Francisco,180311432,4.0
518,Ingeniería en Datos e Inteligencia Organizacional,202001,ID0103,Organización y diseño de computadoras,Jiménez Sánchez / Ismael,180311432,9.0
1098,Ingeniería en Datos e Inteligencia Organizacional,202001,II0319,Probabilidad y estadística,Ortega Espinosa / Viridiana Alhelí,180311432,8.0
1314,Ingeniería en Datos e Inteligencia Organizacional,202001,LI0110,Tópicos 2,Alvarez Rios / Kateryna Ivanivna,180311432,10.0
3404,Ingeniería en Datos e Inteligencia Organizacional,202003,ID0204,Bases de Datos,Olivares González / Oscar,180311432,9.0
3623,Ingeniería en Datos e Inteligencia Organizacional,202003,II0322,Álgebra lineal,Chan Ramayo / Carlos Mariel,180311432,8.0
3226,Ingeniería en Datos e Inteligencia Organizacional,202003,II0215,Electricidad y magnetismo,René / Mónica Patricia,180311432,5.0
2844,Ingeniería en Datos e Inteligencia Organizacional,202003,DP0497,Problemas del mundo contemporáneo,Jiménez Bueno / Luis,180311432,9.0
3070,Ingeniería en Datos e Inteligencia Organizacional,202003,ID3466,Gobierno de datos y redes sociales,Lopez Perez / Myriam,180311432,8.0
3074,Ingeniería en Datos e Inteligencia Organizacional,202003,ID0262,Contabilidad y costos para ingeniería,García Rivera / Miriam Angelica,180311432,9.0
4205,Ingeniería en Datos e Inteligencia Organizacional,202101,DP0396,Identidad y cultura,Alvarado Martínez / María Del Carmen,180311432,8.0
4510,Ingeniería en Datos e Inteligencia Organizacional,202101,ID0101,Diseño de patrones para datos estructurados,Manzano Pinzón / Francisco,180311432,8.0
4517,Ingeniería en Datos e Inteligencia Organizacional,202101,ID0265,Programación web,Caamal Cauich / Angélica María,180311432,7.0
4758,Ingeniería en Datos e Inteligencia Organizacional,202101,DP0498,Problemas de México,Mendoza Luna / José Arturo,180311432,9.0
5764,Ingeniería en Datos e Inteligencia Organizacional,202101,IL0204,Estadística analítica,Ayala Godoy / Jairo Arturo,180311432,4.0
7900,Ingeniería en Datos e Inteligencia Organizacional,202103,II0215,Electricidad y magnetismo,González García / Luis Francisco,180311432,NaN
7530,Ingeniería en Datos e Inteligencia Organizacional,202103,ID3472,Tópicos selectos en ingeniería de datos,Jiménez Sánchez / Ismael,180311432,NaN
7194,Ingeniería en Datos e Inteligencia Organizacional,202103,IT0322,Teoría de la información,Quintal Vázquez / José Francisco,180311432,NaN
7355,Ingeniería en Datos e Inteligencia Organizacional,202103,IL0204,Estadística analítica,Chan Ramayo / Carlos Mariel,180311432,NaN
9591,Ingeniería en Datos e Inteligencia Organizacional,202201,ID3416,Diseño multimedia,Flores Granados / David Israel,180311432,5.0
8116,Ingeniería en Datos e Inteligencia Organizacional,202201,ID3422,Negocios digitales,Rodríguez Santiago / Juan Manuel,180311432,0.0
8127,Ingeniería en Datos e Inteligencia Organizacional,202201,ID0307,Ingeniería de software,Paz Cuevas / Carlos Francisco,180311432,8.0
8140,Ingeniería en Datos e Inteligencia Organizacional,202201,ID0206,Interconectividad en redes,Sansores Pérez / Candelaria Elizabeth,180311432,0.0
8143,Ingeniería en Datos e Inteligencia Organizacional,202201,ID0414,Seguridad de datos,Jiménez Sánchez / Ismael,180311432,8.0
8159,Ingeniería en Datos e Inteligencia Organizacional,202201,IT0263,Electrónica analógica,Márquez Chacón / Wilberth,180311432,9.0
8288,Ingeniería en Datos e Inteligencia Organizacional,202201,TA0030,Entrenamiento auditivo musical,Méndez Trujillo / Ignacio Roberto,180311432,10.0
8990,Ingeniería en Datos e Inteligencia Organizacional,202201,ID0205,Geometría computacional,Álvarez Estrada / José Enrique,180311432,9.0
9602,Ingeniería en Datos e Inteligencia Organizacional,202201,IL0204,Estadística analítica,Ortega Espinosa / Viridiana Alhelí,180311432,6.0

#### Oferta y oferta útil

In [54]:
oferta.head()

,Clave,Nombre,Maestro,Lunes,Martes,Miercoles,Jueves,Viernes,Sabado
0,DP0193,Taller de redacción profesional,Alvarado Martínez / María Del Carmen,-,-,17:00-18:00,-,16:00-18:00,-
1,DP0191,Taller de interacción grupal y competencias co...,Diaz Barriga Cuevas / Claudia,-,-,-,15:00-17:00,17:00-18:00,-
2,DP0191,Taller de interacción grupal y competencias co...,Diaz Barriga Cuevas / Claudia,18:00-20:00,-,-,17:00-18:00,-,-
3,DP0193,Taller de redacción profesional,Parra Dorantes / Roberto,-,-,18:00-20:00,-,17:00-18:00,-
4,DP0194,Desarrollo de habilidades del pensamiento,Mendoza Luna / José Arturo,-,-,19:00-20:00,-,20:00-22:00,-

In [55]:
ofertaUtil = obtenerOfertaUtil(kardex,oferta)
ofertaUtil.head()

,Clave,Nombre,Maestro,Lunes,Martes,Miercoles,Jueves,Viernes,Sabado
1,DP0191,Taller de interacción grupal y competencias co...,Diaz Barriga Cuevas / Claudia,-,-,-,15:00-17:00,17:00-18:00,-
2,DP0191,Taller de interacción grupal y competencias co...,Diaz Barriga Cuevas / Claudia,18:00-20:00,-,-,17:00-18:00,-,-
7,IT0104,Matemáticas discretas,Naredo García / Enrique,-,-,15:00-17:00,-,14:00-15:00,-
12,DP0191,Taller de interacción grupal y competencias co...,Maldonado Santiago / David,-,-,19:00-20:00,-,16:00-18:00,-
17,DP0191,Taller de interacción grupal y competencias co...,Trujillo Ramírez / Jorge Antonio,-,20:00-21:00,-,20:00-22:00,-,-

#### Disponibilidad de horario

El alumno trabaja por las tardes a medio tiempo

In [56]:
disponibilidad = disponibilidad[3]

In [57]:
disponibilidad

    hora  Lunes  Martes  Miercoles  Jueves  Viernes  Sabado
0      7   True    True       True    True     True    True
1      8   True    True       True    True     True    True
2      9   True    True       True    True     True    True
3     10   True    True       True    True     True    True
4     11   True    True       True    True     True    True
5     12  False   False      False   False    False   False
6     13  False   False      False   False    False   False
7     14  False   False      False   False    False   False
8     15  False   False      False   False    False   False
9     16  False   False      False   False    False   False
10    17   True    True       True    True     True    True
11    18   True    True       True    True     True    True
12    19   True    True       True    True     True    True
13    20   True    True       True    True     True    True
14    21   True    True       True    True     True    True

## Generación de cargas académicas válidas

In [58]:
carga1 = generarCargaValida(ofertaUtil)
carga2 = generarCargaValida(ofertaUtil)
carga3 = generarCargaValida(ofertaUtil)
carga4 = generarCargaValida(ofertaUtil)
carga5 = generarCargaValida(ofertaUtil)

cargas = [carga1,carga2,carga3,carga4,carga5]

In [59]:
cargas

[bitarray('0000010000100000000000000010000000100000000100000001010'),
 bitarray('0000000000110000000100000000000100000010000100000000000'),
 bitarray('0000001100000000010000000000000000000000000000000000000'),
 bitarray('0000000000100000010101000000000000100000000100000001000'),
 bitarray('0000000000000010000001000000000000000000000001000000000')]

In [60]:
obtenerDatosCarga(cargas[4],ofertaUtil)

,Clave,Nombre,Maestro,Lunes,Martes,Miercoles,Jueves,Viernes,Sabado
43,ID0206,Interconectividad en redes,Sansores Pérez / Candelaria Elizabeth,-,18:00-20:00,-,16:00-18:00,-,-
65,II0422,Taller de emprendedores,Arreola Mejía / Sonia Amalia,-,13:00-15:00,-,13:00-14:00,-,-
103,DP0499,Seminario de investigación,Barragan Garcia / Marco Antonio,16:00-19:00,-,-,-,-,-

## Aplicación de funciones a las cargas generadas

In [61]:
obtenerDatosCarga(cargas[0],ofertaUtil)

,Clave,Nombre,Maestro,Lunes,Martes,Miercoles,Jueves,Viernes,Sabado
19,DP0191,Taller de interacción grupal y competencias co...,Maldonado Santiago / David,-,16:00-18:00,-,17:00-18:00,-,-
35,ID0206,Interconectividad en redes,Sansores Pérez / Candelaria Elizabeth,11:00-13:00,-,11:00-13:00,-,-,-
75,ID0310,Minería de datos,Gómez García / Hector Fernando,-,-,16:00-18:00,-,16:00-18:00,-
88,ID0309,Aprendizaje estadístico,Arzápalo Treviño / Ángel Alejandro,-,09:00-11:00,-,07:00-08:00,-,-
100,IT3472,Principios de automatización y robótica,Landaverde Lorenzo / Pablo Jacob,-,20:00-22:00,-,21:00-22:00,-,-
112,IT0427,Proyecto terminal,Zavala López / Erika Erendira,16:00-19:00,-,-,-,-,-
115,DP0499,Seminario de investigación,Reyes Miranda / José Felipe,14:00-16:00,-,14:00-15:00,-,-,-

In [62]:
costoPorHorasLibres = costoHorasLibres(cargas[0],ofertaUtil)
utilidadPorCerrarCiclos = utilidadCerrarCiclos(cargas[0],ofertaUtil)
utilidadPorMateriasReprobadas = obtenerUtilidadMateriasReprobadas(kardex,cargas[0],ofertaUtil)
costoPorDisponibilidad = obtenerCostoDisponibilidad(cargas[0],ofertaUtil,disponibilidad)

In [81]:
print("La carga evaluada tiene:")
print("\t" + str(round(100*utilidadPorCerrarCiclos,2)) + "% de utilidad por las materias de primeros ciclos llevadas.")
print("\t" + str(round(100*utilidadPorMateriasReprobadas,2)) + "% del total de las materias reprobadas del estudiante.") 
print("\t" + str(round(100*costoPorDisponibilidad,2)) + "% de sobreposición con las horas donde el estudiante no está disponible.")
print("\t" + str(round(100*costoPorHorasLibres,2)) + "% de costo por el total de horas libres por día.")

La carga evaluada tiene:
	25.93% de utilidad por las materias de primeros ciclos llevadas.
	20.0% del total de las materias reprobadas del estudiante.
	30.0% de sobreposición con las horas donde el estudiante no está disponible.
	28.21% de costo por el total de horas libres por día.

# Definición de la función objetivo

In [82]:
def obtenerValorTotalCarga(bitsDeCarga,ofertaUtil,disponibilidad,kardex):
    
    costoPorHorasLibres = costoHorasLibres(bitsDeCarga,ofertaUtil)
    utilidadPorCerrarCiclos = utilidadCerrarCiclos(bitsDeCarga,ofertaUtil)
    utilidadPorMateriasReprobadas = obtenerUtilidadMateriasReprobadas(kardex,bitsDeCarga,ofertaUtil)
    costoPorDisponibilidad = obtenerCostoDisponibilidad(bitsDeCarga,ofertaUtil,disponibilidad)
    
    x = np.array([utilidadPorCerrarCiclos,utilidadPorMateriasReprobadas,costoPorDisponibilidad,costoPorHorasLibres])
    
    x[2] = 1 - x[2]
    x[3] = 1 - x[3]
    
    return sum(x)/4

In [83]:
obtenerValorTotalCarga(cargas[0],ofertaUtil,disponibilidad,kardex)

0.46930199430199426

In [66]:
obtenerDatosCarga(cargas[0],ofertaUtil)

,Clave,Nombre,Maestro,Lunes,Martes,Miercoles,Jueves,Viernes,Sabado
19,DP0191,Taller de interacción grupal y competencias co...,Maldonado Santiago / David,-,16:00-18:00,-,17:00-18:00,-,-
35,ID0206,Interconectividad en redes,Sansores Pérez / Candelaria Elizabeth,11:00-13:00,-,11:00-13:00,-,-,-
75,ID0310,Minería de datos,Gómez García / Hector Fernando,-,-,16:00-18:00,-,16:00-18:00,-
88,ID0309,Aprendizaje estadístico,Arzápalo Treviño / Ángel Alejandro,-,09:00-11:00,-,07:00-08:00,-,-
100,IT3472,Principios de automatización y robótica,Landaverde Lorenzo / Pablo Jacob,-,20:00-22:00,-,21:00-22:00,-,-
112,IT0427,Proyecto terminal,Zavala López / Erika Erendira,16:00-19:00,-,-,-,-,-
115,DP0499,Seminario de investigación,Reyes Miranda / José Felipe,14:00-16:00,-,14:00-15:00,-,-,-

# Búsqueda de frente de Pareto